@model E_BookStore.Model.SuperAdminandAdminViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<section>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ADD New Category</h4>
                    @using (Html.BeginForm("AddNewCategory", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label for="exampleInputUsername1">
                                Category Name
                            </label>
                            @Html.TextBoxFor(model => model.Category.CategoryName, new { @class = "form-control", id = "exampleInputUsername1", placeholder = "Please Enter  Category Name" })
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Categroy List</h4>
                        <p class="card-description">
                            Categroy <code>Details</code>
                        </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.CategoryList.Count>0)
                                    {
                                        var i = 1;
                                        foreach (var category in Model.CategoryList)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@category.CategoryName</td>
                                                <td>
                                                    <button class="btn btn-danger">Delete</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger">Update</button>
                                                </td>

                                            </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>No Category Have been Added yet</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

