<section class="blogs" id="blogs">

    <h1 class="heading"> <span>Our Publiser </span> </h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="">
                    <img class="journalpic" src="~/megazine/article8.jpg" alt="">
                </div>

            </div>
            <div class="swiper-slide box">
                <div class="">
                    <img class="journalpic" src="~/megazine/article2.jpg" alt="">
                </div>

            </div>
            <div class="swiper-slide box">
                <div class="">
                    <img class="journalpic" src="~/megazine/article3.jpg" alt="">
                </div>

            </div>
            <div class="swiper-slide box">
                <div class="">
                    <img class="journalpic" src="~/megazine/article5.jpg" alt="">
                </div>

            </div>
            <div class="swiper-slide box">
                <div class="">
                    <img class="journalpic" src="~/megazine/article6.jpg" alt="">
                </div>

            </div>
            <div class="swiper-slide box">
                <div class="">
                    <img class="journalpic" src="~/megazine/article7.jpg" alt="">
                </div>

            </div>


        </div>

    </div>

</section>
